<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td>Solicitação</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Usuário</td>
                    <td>{{user}}</td>
                </tr>
                <tr>
                    <td>Nova senha</td>
                    <td><b>{{new-password}}</b></td>
                </tr>
                <tr>
                    <td>Sistema</td>
                    <td><a href="{{url}}">Acesso</a></td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </body>
</html>